nav.menu_principal {
    background-color: #ffffff;
}

nav.menu_principal ul {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-align: right;
}

nav.menu_principal ul > li{
    display:inline-block;
    padding:15px;
    height:30px;
    line-height:30px;
    font-family: "Verdana", sans-serif;
    cursor: pointer;
}

nav.menu_principal ul > li > a {
    display: flex;  
    justify-content: center;  
    width: 180px; 
    height: 50px; 
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Verdana", sans-serif;
}

select {
    text-align: center;
    appearance: none; 
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-family: "Verdana", sans-serif;
    width: 180px;
    height: 50px
}
