<div class="historia">
<div class="contenedor-historia">
    <div class="texto-historia">
      <h2>¿Quiénes somos?</h2>
      <p>En Agua Dulce, nos dedicamos a ofrecer educación musical de alta calidad, accesible. 
        Nuestro enfoque es ofrecer clases personalizadas y adaptadas a las necesidades de cada estudiante, 
        promoviendo el aprendizaje de diferentes instrumentos en un ambiente amigable y profesional.</p>
  
      <h2>¿Cuál es nuestra visión?</h2>
      <p>Convertirnos en una referencia en el mundo de la educación musical online, ofreciendo cursos innovadores y 
        un enfoque pedagógico que fomente la creatividad y el amor por la música en todas las edades.</p>
  
      <h2>Nuestros valores</h2>
      <ul>
        <li><strong>Compromiso:</strong> Nos comprometemos a proporcionar una formación continua de calidad.</li>
        <li><strong>Innovación:</strong> Usamos herramientas modernas para una experiencia de aprendizaje interactiva.</li>
        <li><strong>Accesibilidad:</strong> Queremos que todos puedan acceder a la educación musical sin importar su ubicación.</li>
        <li><strong>Pasión por la música:</strong> Nos apasiona compartir el conocimiento musical con todos nuestros estudiantes.</li>
      </ul>
  
      <h2>Historia</h2>
      <p><strong>Agua Dulce</strong> nació con la idea de crear una comunidad de aprendizaje musical online, que permita a estudiantes de todo el mundo mejorar 
        sus habilidades musicales en guitarras, pianos, ukeleles, batería y otros instrumentos. Con profesores de renombre y una plataforma interactiva, 
        queremos hacer de la música un camino accesible para todos.</p>
    </div>
  
    <div class="imagen-historia">
      <img src="assets/images/NuestraHistoria.png" alt="Historia de Agua Dulce">
    </div>
  </div>
</div>
  