<div class="online">
    <h1>{{ 'clases online' | uppercase }}</h1>
    <div class="filtro"> 
        <label class = "labelfiltro1">Tipo de clases</label>
        <div class="clases">
            <input type="checkbox" id="online-chck" (change)="cambioCheckClase('online')" checked/>
            <label for="online-chck">Online</label>
        </div>
        <div class="clases">
            <input type="checkbox" id="presencial-chck" (change)="cambioCheckClase('presencial')"/>
            <label for="presencial-chck">Presencial</label>
        </div>
        <label class = "labelfiltro2">Nivel de las clases</label>
        <div class="dificultad">
            <input type="checkbox" id="prin-chck" (change)="cambioCheckDificultad('principiante')">
            <label for="online-chck">Principiante</label>
        </div>
        <div class="dificultad">
            <input type="checkbox" id="inter-chck" (change)="cambioCheckDificultad('intermedio')"/>
            <label for="presencial-chck">Intermedio</label>
        </div>
        <div class="dificultad">
            <input type="checkbox" id="avan-chck" (change)="cambioCheckDificultad('avanzado')"/>
            <label for="presencial-chck">Avanzado</label>
        </div>

    </div>
    <select id = "instrumentos" (change)="getInstrumento()">
        <option value = "Instrumento">Instrumento</option>
        <option value = "Piano">Piano</option>
        <option value = "Guitarra">Guitarra</option>
        <option value = "Violín">Violín</option>
        <option value = "Batería">Batería</option>
        <option value = "Canto">Canto</option>
        <option value = "Canto">Bajo</option>
        <option value = "Teclado">Teclado</option>
        <option value = "Flauta">Flauta</option>
        <option value = "Percusión">Percusión</option>
        <option value = "Canto">Canto</option>
    </select>
    <button class="filtrar" (click)="filtrar()">Filtrar</button>
    <button *ngIf="esProfesor" class ="addClase" (click)="addClase()">Añadir clase nueva</button>
    <div class="muestraClase">
        
        @for(clase of clasesFiltradas ; track $index){
            <h2>{{clase.titulo}}</h2>
            <h3>Clase de {{ clase.instrumento }}</h3>
            <p>Precio: {{ clase.precio }}</p>
            <p>Duración: {{ clase.duracion }} minutos</p>
            <p>Dificultad: {{clase.dificultad}}</p>
            <a [href]="clase.url_video" target="_blank">Pincha aquí para ver la clase</a>
           
            <button *ngIf="esProfesor" class="eliminarClase" (click)="eliminarClase(clase.id)">Eliminar Clase</button>
            @switch(clase.instrumento){
                @case ('Guitarra'){
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Classical_Guitar_two_views.jpg/180px-Classical_Guitar_two_views.jpg" class = "instrumentoImagen">
            
                }
                @case('Piano'){
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Steinway_%26_Sons_concert_grand_piano%2C_model_D-274%2C_manufactured_at_Steinway%27s_factory_in_Hamburg%2C_Germany.png/200px-Steinway_%26_Sons_concert_grand_piano%2C_model_D-274%2C_manufactured_at_Steinway%27s_factory_in_Hamburg%2C_Germany.png" class = "instrumentoImagen">
                
                }
                @default{
                    <img src="https://media.istockphoto.com/id/894058154/es/foto/instrumentos-musical.jpg?s=612x612&w=0&k=20&c=WjTwmZPcFkGuAU7DAjpToSMe5baR8XJvHkyg3jMxkWg=" class = "instrumentoImagen">
                }
            
            }
        
            <hr>
        }
    </div>

</div>
