<div class="presencial">
    <h1>PRESENCIAL</h1>
    <div class="filtro">
        <label class = "labelfiltro1">Tipo de clases</label>
        <div class="clases">
            <input type="checkbox" id="online-chck"/>
            <label for="online-chck">Online</label>
        </div>
        <div class="clases">
            <input type="checkbox" id="presencial-chck" checked/>
            <label for="presencial-chck">Presencial</label>
        </div>
        <label class = "labelfiltro2">Nivel de las clases</label>
        <div class="dificultad">
            <input type="checkbox" id="prin-chck"/>
            <label for="online-chck">Principiante</label>
        </div>
        <div class="dificultad">
            <input type="checkbox" id="inter-chck"/>
            <label for="presencial-chck">Intermedio</label>
        </div>
        <div class="dificultad">
            <input type="checkbox" id="avan-chck"/>
            <label for="presencial-chck">Avanzado</label>
        </div>

    </div>
    <button class="filtrar">Filtrar</button>
    <div class="muestraClase">
          
    </div>





</div>