
<!--<h1 class="border">Aguadulce</h1>
 <h1 class="wave">Aguadulce</h1>-->

<div class="cabecera">
    <!-- Logo en el centro -->
    <img id="logo" src="assets/images/logo_nombre.png" alt="Logo">
  

    <div class = "right-container">
      <!-- Icono de notificación -->
      @if (this.authService.isLoggedIn()) 
      {
        @if(this.authService.getUser().tipo_usuario == "Estudiante") {
          <app-notificaciones 
            #notificacionesComponent
            [mostrarNotificaciones]="mostrarNotificaciones"
            (mostrarNotificacionesChange)="mostrarNotificaciones = $event">
          </app-notificaciones>

            <img id="noti" src="assets/images/noti_white.png" alt="Notificación"
            (click)="notificacionesComponent.abrirNotificaciones()">            
          } 
      }
      
      <div class="profile-menu">
        <button (click)="toggleMenu()">
          <img id="profile" src="assets/images/profile_icon.png" alt="Iniciar sesión">
        </button>

        @if (menuOpen) {
          <ul class="dropdown">
            @if (!this.authService.isLoggedIn()) {
              <li (click)="redirigirLogin()">Iniciar sesión</li>
              <li (click)="redirigirRegistro()">Registrarse</li>
            }
            @else {
              <li (click)="redirigirPerfil()">Ver perfil</li>
              <li (click)="logout()">Cerrar sesión</li>
            }
          </ul>
        }
        
      </div> 

      <!-- Barra de búsqueda -->
      <div class="search-container">
        <input type="text" placeholder="Buscar..." class="search-input" />
      </div>

    </div>    
    
  </div>

  
  

