/* Contenedor principal con position relative */
.cabecera {
    position: relative;
    width: 100%;
    padding: 10px;
}

/* Estilo del logo */
#logo {
    position: relative;
    left: 50%;  /* Coloca el logo en el centro */
    top: 50%;
    transform: translate(-50%, 0%);  /* Ajusta para centrarlo perfectamente */
    width: 500px;  /* Ajusta el tamaño del logo */
    height: auto;
}


/* Barra de búsqueda (a la derecha) */
.search-container {
    position: relative;
    right: 10px;  /* Ajusta la distancia desde el borde derecho */
    top: 50%;
    transform: translate(75%, -150%);
}

/* Estilo de #noti (a la derecha) */
#noti {
    position: relative;
    top: 50%;
    transform: translate(-100%, 40%);
    width: 50px;  /* Ajusta el tamaño del icono */
    cursor: pointer;
}

.search-input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;  /* O el ancho que prefieras */
}
