<footer class="footer bg-lightblue">
    <div class="container flex justify-between items-center py-4">
      <!-- Logo y Nombre -->
      <div class="flex items-center">
        <img src="assets/images/logo_aguaDulce.jpg" alt="Agua Dulce" class="h-10 mr-2">
        <span class="text-gray-600 font-semibold"></span>
      </div>
  
      <!-- Redes Sociales -->
      <div class="flex space-x-4">
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
          <img src="assets/images/instagram.png" alt="Instagram" class="h-6">
        </a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
          <img src="assets/images/x.png" alt="Twitter" class="h-6">
        </a>
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
          <img src="assets/images/facebook.png" alt="Facebook" class="h-6">
        </a>
      </div>
  
      <!-- Información de Contacto -->
      <div class="text-right">
        <p class="text-gray-600">TFL: +34 123 456 789</p>
        <p class="text-gray-600">prueba&#64;gmail.com</p>
      </div>
    </div>
  </footer>
  