.footer {
    background-color: #add8e6; /* Light blue */
    color: #555;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  
  .footer img {
    height: 40px;
  }
  
  .footer a:hover {
    opacity: 0.8;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }